# Environment & Secret files
.env
*.env
*.pem
*.key
*.crt

# Node & Python dependencies
node_modules/
__pycache__/
*.pyc
.venv/
env/

# Docker volumes & local data
n8n_data/
iris_data/
wazuh_data/

# Log files & temp files
*.log
*.tmp
*.swp
.DS_Store
